@import "tailwindcss";
.perspective {
    perspective: 1200px;
}

.transform-style-preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s ease-out;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}